body {
  background-color: #000;
  color: #CCC;
  font-family: 'Lato', sans-serif;
}

.center {
  text-align: center;
}

#imgFrame {
  border: 5px solid #CCC;
  margin: auto;
  overflow: hidden;
  height: 425px;
  width: 425px;
}

#imgFrame img {
  height: 425px;
  width: 425px;
}

#imgContainer {
  width: 4000px;  
}

#imgCounter {
  font-size: 12px;
  letter-spacing: 2px;
  margin: 15px;
}

#buttons {
  margin: auto;
  width: 130px;
}

#buttons div:hover {
  cursor: pointer;
  opacity: 1.0;
}

.arrow-control {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.arrow-control.left {
  margin-right: 80px;
}

.arrow-control.right {
  margin-left: 80px;
}